<!DOCTYPE html>
<html lang="en>
    <head>
        <meta charset="UTF-8">
    	<title>JJE Fish</title>
        <link rel="stylesheet" 
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            type="text/css" />
        <link rel="stylesheet" href="/css/site.css" type="text/css" />
    </head>
    <body>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <img id="logo" src="/img/jjefish5.png" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="text">Making an Ocean of Difference</div>
                    </div>

                </div>
            </div>
        </header>
        <nav>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="pull-left">
                            <li><a href="/">Home</a></li>
                            <li><a href="/stakeholders">Stakeholders</a></li>
                            <li><a href="/iteration1">Iteration 1</a></li>
                            <li><a href="/pid">P.I.D.</a></li>
                            <li><a href="/businessrules">Business Rules</a></li>
                            <li><a href="iteration2">Iteration 2</a></li>
                        </ul>
                        <ul class="pull-right">
                            <li><a href="/student/jason">Jason Kwan</a></li>
                            <li><a href="/studet/joel">Joel Kwan</a></li>
                            <li><a href="/student/elsa">Elsa (Wai Chi) Ng</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            {{{body}}}
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>© 2017 - JJE Fish</h2>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>