<div class="row">
    <section class="col-md-12">
        <article>
            <p>US Consulate in Toronto and Working Water Group have identified that Cladophora is some nuisance algae that is broadly distributed over large areas of the nearshore regions of Ontario, Huron and Michigan. The Waters of the Great Lakes should be free from nutrients that directly or indirectly enter the water because of human activity such as waste management, in amounts that promote growth of algae and cyanobacteria that interfere with aquatic ecosystem health, or human use of the ecosystem.</p>
            <p>To address this ongoing problem, JJE Fish read reports on research done by biologists and has decided to specifically target the control of floating moss by limiting the sunlight that the algae is receiving. The sunlight will be limited by placing solar panels above the affected area. The solar panels will be installed on the water surface by a supplier that is specialized in solar panels production, installation and maintenance. The supplier should have in-house engineers to assist in the operation of the solar panels. The energy and utilities providers will be consulted because the use of solar panels may affect the local communities.</p>
            <p>On the other hand, a new information gathering system is used to obtain information regarding algae blooming in the Great Lakes. This new system will provide all functions directly related to gathering information remotely through GPS. It will include details such as temperature, concentration of algae, mineral content (phosphorous) and be archived into a database. The results will be shared with interest groups such as Ministry of Agriculture, Ministry of Fisheries and Ocean, and Conservation Ontario.</p>
  
        </article>
    </section>
</div>