@import url('https://fonts.googleapis.com/css?family=Raleway');

@media screen and (max-width: 768px) {
    body {
        background-image: url("/img/bg3b.jpg");
        background-repeat: no-repeat;
        height:100vh;
    }
}

@media screen and (min-width: 769px) {
    body {
        height: 100%;
        width: 100%;
        background-image: url("/img/bg3a.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }    
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    color: #95F2FF;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
}

#logo {
    margin-left: -15px;
    max-width: 100%;
    height: auto;
}

.navbar.navbar-light a.nav-link:hover, .navbar.navbar-light a.nav-link:visited,
.navbar.navbar-light a.nav-link:active, .navbar.navbar-light a.nav-link:link,
.navbar.navbar-light a.dropdown-item:hover, .navbar.navbar-light a.dropdown-item:visited,
.navbar.navbar-light a.dropdown-item:active, .navbar.navbar-light a.dropdown-item:link,
.navbar.navbar-light .navbar-brand, .navbar.navbar-light .dropdown-menu {
    color: #95F2FF;
    font-size: 18px;
    text-decoration: none;
    background: transparent;
    border: none;
}

.navbar.navbar-light {
    margin-left: -15px; 
}

.navbar.navbar-light .navbar-toggler,
.navbar.navbar-light .navbar-toggler.collapsed {
    border-color: #95F2FF;
}
  
.navbar.navbar-light .navbar-toggler.collapsed .navbar-toggler-icon,
.navbar.navbar-light .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(149,242,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

footer {
    padding-top: 30px;
    text-transform: uppercase;
    font-size: 13px;
}