@import url('https://fonts.googleapis.com/css?family=Raleway');

@media screen and (max-width: 768px) {
    body {
        background-image: url("/img/bg3a_mobile.jpg");
    }
}

@media screen and (min-width: 769px) {
    body {
        background-image: url("/img/bg3a.jpg");
        background-position: center center;
    }    
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    color: #95F2FF;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
}

#logo {
    margin-left: -15px;
    max-width: 100%;
    height: auto;
}

.container.bodyContent {
    padding-right: 30px;
    margin-bottom: 70px;
}

.navbar.navbar-light a.nav-link:hover, .navbar.navbar-light a.nav-link:visited,
.navbar.navbar-light a.nav-link:active, .navbar.navbar-light a.nav-link:link,
.navbar.navbar-light a.dropdown-item:hover, .navbar.navbar-light a.dropdown-item:visited,
.navbar.navbar-light a.dropdown-item:active, .navbar.navbar-light a.dropdown-item:link,
.navbar.navbar-light .navbar-brand, .navbar.navbar-light .dropdown-menu {
    color: #95F2FF;
    font-size: 18px;
    text-decoration: none;
    background: transparent;
    border: none;
}

.navbar.navbar-light {
    margin-left: -15px; 
}

.navbar.navbar-light .navbar-toggler,
.navbar.navbar-light .navbar-toggler.collapsed {
    border-color: #95F2FF;
}
  
.navbar.navbar-light .navbar-toggler.collapsed .navbar-toggler-icon,
.navbar.navbar-light .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(149,242,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

footer {
    text-transform: uppercase;
    font-size: 13px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
}